<%= form_for(@gastos_diario) do |f| %>
  <% if @gastos_diario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gastos_diario.errors.count, "error") %> prohibited this gastos_diario from being saved:</h2>

      <ul>
      <% @gastos_diario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion %>
  </div>
  <div class="field">
    <%= f.label :categoria %><br>
    <%= f.text_field :categoria %>
  </div>
  <div class="field">
    <%= f.label :monto %><br>
    <%= f.text_field :monto %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
